/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

#add-wishlist:hover {
    color: black;
}

#add-wishlist {
    color: gray;
}

#parentList {
    list-style-type: none;
}

#parentList li {
    float: left;
    padding: 4px;
    font-size: small;
}

.category-link:hover {
    background-color: darkgrey;
}

.offcanvas {
    width: 65% !important;
}